# Data Wrangling

## Cancer Data

In [11]:
import pandas as pd

cancer_incidence = pd.read_excel('Datasets/CDiA-2024-Book-1a-Cancer-incidence-age-standardised-rates-5-year-age-groups.xlsx', 
                                 sheet_name="Table S1a.1",
                                 skiprows=5,
                                 skipfooter=19)

distinct_cancer_types = cancer_incidence['Cancer group/site'].unique()

skin_cancer_df = cancer_incidence[cancer_incidence["Cancer group/site"].isin(["Melanoma of the skin", "Non-melanoma skin cancer (rare types)"])]

filtered_skin_cancer_df = skin_cancer_df[skin_cancer_df["Age group (years)"].isin(["15-19", "20-24", "25-29"])]
filtered_skin_cancer_df = filtered_skin_cancer_df.iloc[:, :7]

combined_skin_cancer_df = filtered_skin_cancer_df.groupby(["Year", "Data type", "Sex", "Age group (years)"], 
                                                          as_index=False).agg({"Count": "sum"})

combined_skin_cancer_df['outcome_type'] = "INCIDENT"

combined_skin_cancer_df.rename(columns={"Year": "year",
                                        "Data type": "data_type",
                                        "Sex": "sex",
                                        "Age group (years)": "age_group",
                                        "Count": "count"},
                                        inplace=True)


combined_skin_cancer_df

     year    data_type      sex age_group  count outcome_type
0    1982       Actual  Females     15-19     39     INCIDENT
1    1982       Actual  Females     20-24     91     INCIDENT
2    1982       Actual  Females     25-29    128     INCIDENT
3    1982       Actual    Males     15-19     30     INCIDENT
4    1982       Actual    Males     20-24     52     INCIDENT
..    ...          ...      ...       ...    ...          ...
382  2024  Projections    Males     20-24     53     INCIDENT
383  2024  Projections    Males     25-29     72     INCIDENT
384  2024  Projections  Persons     15-19     39     INCIDENT
385  2024  Projections  Persons     20-24    112     INCIDENT
386  2024  Projections  Persons     25-29    175     INCIDENT

[387 rows x 6 columns]

In [13]:
cancer_mortality = pd.read_excel('Datasets/CDiA-2024-Book-2a-Cancer-mortality-and-age-standardised-rates-by-age-5-year-groups.xlsx', 
                                 sheet_name="Table S2a.1",
                                 skiprows=5,
                                 skipfooter=16)

skin_cancer_mort_df = cancer_mortality[cancer_mortality["Cancer group/site"].isin(["Melanoma of the skin", 
                                                                                   "Non-melanoma skin cancer (rare types)"])]

filtered_mort_df = skin_cancer_df[skin_cancer_df["Age group (years)"].isin(["15-19", "20-24", "25-29"])]
filtered_mort_df = filtered_skin_cancer_df.iloc[:, :7]

combined_mort_df = filtered_skin_cancer_df.groupby(["Year", "Data type", "Sex", "Age group (years)"], 
                                                          as_index=False).agg({"Count": "sum"})

combined_mort_df['outcome_type'] = "MORTALITY"

combined_mort_df.rename(columns={"Year": "year",
                                        "Sex": "sex",
                                        "Data type": "data_type",
                                        "Age group (years)": "age_group",
                                        "Count": "count"},
                                        inplace=True)


combined_mort_df

     year    data_type      sex age_group  count outcome_type
0    1982       Actual  Females     15-19     39    MORTALITY
1    1982       Actual  Females     20-24     91    MORTALITY
2    1982       Actual  Females     25-29    128    MORTALITY
3    1982       Actual    Males     15-19     30    MORTALITY
4    1982       Actual    Males     20-24     52    MORTALITY
..    ...          ...      ...       ...    ...          ...
382  2024  Projections    Males     20-24     53    MORTALITY
383  2024  Projections    Males     25-29     72    MORTALITY
384  2024  Projections  Persons     15-19     39    MORTALITY
385  2024  Projections  Persons     20-24    112    MORTALITY
386  2024  Projections  Persons     25-29    175    MORTALITY

[387 rows x 6 columns]

In [42]:
state_incidence = pd.read_excel('Datasets/CDiA-2024-Book-7-Cancer-incidence-and-mortality-by-state-and-territory.xlsx', 
                                 sheet_name="Table S7.1",
                                 skiprows=5,
                                 skipfooter=15)

state_incidence = state_incidence[state_incidence["Cancer group/site"].isin(["Melanoma of the skin", 
                                                                                   "Non-melanoma skin cancer (rare types)"])]

state_incidence  = state_incidence.iloc[:, :7]

state_incidence = state_incidence[state_incidence['Count'] != "n.a."]

state_incidence["Year"] = state_incidence['Year'].astype("int")

state_incidence  = state_incidence.groupby(["Year", "Cancer group/site", "Data type", "Sex", "State or Territory"], as_index=False).agg({"Count": "sum"})

state_incidence.rename(columns={"Year": "year",
                                "Cancer group/site": "cancer_type",
                                "Sex": "sex",
                                "Data type": "outcome_type",
                                "State or Territory": "state_territory",
                                "Count": "count"},
                                inplace=True)


state_incidence

,year,cancer_type,outcome_type,sex,state_territory,count
0,1982,Melanoma of the skin,Incidence,Females,Australia,1802
1,1982,Melanoma of the skin,Incidence,Females,New South Wales,651
2,1982,Melanoma of the skin,Incidence,Females,Queensland,427
3,1982,Melanoma of the skin,Incidence,Females,South Australia,127
4,1982,Melanoma of the skin,Incidence,Females,Tasmania,38
...,...,...,...,...,...,...
1540,2020,Non-melanoma skin cancer (rare types),Incidence,Persons,Queensland,318
1541,2020,Non-melanoma skin cancer (rare types),Incidence,Persons,South Australia,68
1542,2020,Non-melanoma skin cancer (rare types),Incidence,Persons,Tasmania,20
1543,2020,Non-melanoma skin cancer (rare types),Incidence,Persons,Victoria,236
1544,2020,Non-melanoma skin cancer (rare types),Incidence,Persons,Western Australia,116

In [43]:
state_mortality = pd.read_excel('Datasets/CDiA-2024-Book-7-Cancer-incidence-and-mortality-by-state-and-territory.xlsx', 
                                 sheet_name="Table S7.2",
                                 skiprows=5,
                                 skipfooter=15)

state_mortality = state_mortality[state_mortality["Cancer group/site"].isin(["Melanoma of the skin", 
                                                                                   "Non-melanoma skin cancer (rare types)"])]

state_mortality  = state_mortality.iloc[:, :7]

state_mortality = state_mortality[state_mortality['Count'] != "n.a."]

state_mortality["Year"] = state_mortality['Year'].astype("int")

state_mortality  = state_mortality.groupby(["Year", "Cancer group/site", "Data type", "Sex", "State or Territory"], as_index=False).agg({"Count": "sum"})

state_mortality.rename(columns={"Year": "year",
                                "Cancer group/site": "cancer_type",
                                        "Sex": "sex",
                                        "Data type": "outcome_type",
                                        "State or Territory": "state_territory",
                                        "Count": "count"},
                                        inplace=True)


state_mortality

,year,cancer_type,outcome_type,sex,state_territory,count
0,2007,Melanoma of the skin,Mortality,Females,Australia,400
1,2007,Melanoma of the skin,Mortality,Females,Australian Capital Territory,4
2,2007,Melanoma of the skin,Mortality,Females,New South Wales,138
3,2007,Melanoma of the skin,Mortality,Females,Northern Territory,1
4,2007,Melanoma of the skin,Mortality,Females,Queensland,90
...,...,...,...,...,...,...
751,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,Queensland,48
752,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,South Australia,13
753,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,Tasmania,11
754,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,Victoria,53
755,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,Western Australia,15

In [44]:
combined_cancer_state = pd.concat([state_incidence, state_mortality], ignore_index=True)
combined_cancer_state

,year,cancer_type,outcome_type,sex,state_territory,count
0,1982,Melanoma of the skin,Incidence,Females,Australia,1802
1,1982,Melanoma of the skin,Incidence,Females,New South Wales,651
2,1982,Melanoma of the skin,Incidence,Females,Queensland,427
3,1982,Melanoma of the skin,Incidence,Females,South Australia,127
4,1982,Melanoma of the skin,Incidence,Females,Tasmania,38
...,...,...,...,...,...,...
2296,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,Queensland,48
2297,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,South Australia,13
2298,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,Tasmania,11
2299,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,Victoria,53
2300,2020,Non-melanoma skin cancer (rare types),Mortality,Persons,Western Australia,15

In [45]:
import numpy as np

combined_cancer_state["cancer_type_id"] = np.where(combined_cancer_state["cancer_type"] == "Melanoma of the skin", "SC01",
                       np.where(combined_cancer_state["cancer_type"] == "Non-melanoma skin cancer (rare types)", "SC02", None))

In [46]:
# Cancer Type table
cancer_type = combined_cancer_state[['cancer_type_id', 'cancer_type']].drop_duplicates().reset_index()
cancer_type['cancer_type'] = cancer_type['cancer_type'].str.upper()
cancer_type = cancer_type.drop("index", axis=1)
cancer_type

  cancer_type_id                            cancer_type
0           SC01                   MELANOMA OF THE SKIN
1           SC02  NON-MELANOMA SKIN CANCER (RARE TYPES)

In [47]:
# Exporting cancer type table
cancer_type.to_csv("cancer_type.csv")

In [50]:
combined_cancer_state.loc[:, ["outcome_type", "sex", "state_territory"]] = (
    combined_cancer_state.loc[:, ["outcome_type", "sex", "state_territory"]].apply(lambda x: x.str.upper())
)

combined_cancer_state

      year cancer_type_id outcome_type      sex    state_territory count
0     1982           SC01    INCIDENCE  FEMALES          AUSTRALIA  1802
1     1982           SC01    INCIDENCE  FEMALES    NEW SOUTH WALES   651
2     1982           SC01    INCIDENCE  FEMALES         QUEENSLAND   427
3     1982           SC01    INCIDENCE  FEMALES    SOUTH AUSTRALIA   127
4     1982           SC01    INCIDENCE  FEMALES           TASMANIA    38
...    ...            ...          ...      ...                ...   ...
2296  2020           SC02    MORTALITY  PERSONS         QUEENSLAND    48
2297  2020           SC02    MORTALITY  PERSONS    SOUTH AUSTRALIA    13
2298  2020           SC02    MORTALITY  PERSONS           TASMANIA    11
2299  2020           SC02    MORTALITY  PERSONS           VICTORIA    53
2300  2020           SC02    MORTALITY  PERSONS  WESTERN AUSTRALIA    15

[2301 rows x 6 columns]

In [51]:
combined_cancer_state.to_csv("cancer_table.csv")